/*头部样式*/
#header,#nav,#content,.bigbox{width: 1240px; margin: 0 auto;
 position: relative; }
 .bigbox{border: 1px solid #CCCCCC;}
#header{ height: 40px; background: #f7f7f7;}
#nav{height: 130px;}
.phone{width:200px ;height: 40px; line-height: 40px; left: 25px;position: absolute;}
.login{width:130px ;height: 40px; line-height: 40px; left: 260px;position: absolute;}
.car{width:305px ;height: 40px; line-height: 40px; right: 20px;position: absolute;}
.phone *{float: left;}
.phone h5{font-size: 14px; margin-left: 3px;color: #e91456;font-weight: 900;}
.login a{margin-left: 8px;  }
.car a:last-child{background: url(../imgs/header/phone2.jpg) no-repeat center left;
padding:5px 0 5px 25px}
.login a:hover{color: #e91456; text-decoration: underline;}
.car a:hover{color: #e91456; border-bottom: 1px solid #e91456;}

/*nav样式*/
.logo{margin-left: 25px;margin-top: 15px;}
.search{position: absolute; left: 440px;top: 30px; width: 525px; height: 50px;}
.text1{width:320px; height: 35px;border: 1px solid #e91456 ;}
.btn1{width: 80px; height: 37px;background: url(../imgs/nav/nav2.jpg)
  no-repeat center left #e91456;margin-left: -3px;color: white; font-weight: 900;}
.shopping{width: 120px; height: 30px;position: absolute; top: 30px; right: 25px;
 border: 1px solid #f7f7f7; background: url(../imgs/nav/nav3.jpg)no-repeat
  center;padding-left: 50px;background-position: 10px 0px;}
.shopping .number{width: 15px; height: 15px; border-radius: 100%;background: #ea1454;
font-size: 1px; text-align: center;position: absolute;top: 3px;left: 27px;color: white;}
.mycar{display: block; height:30px ; line-height: 30px;}
.TV{width: 450px; height: 30px; position: absolute; left: 260px; bottom: 6px;
 line-height: 30px;}
.TV a{padding: 0 15px; border-right: 1px solid #d5ccd5; font-size: 18px;
 font-weight: 900;}
.buy{width: 200px; height: 30px; line-height: 30px;position: absolute;
 right: 175px; bottom: 3px;}
.buy h5{float: left;font-size: 16px; margin-left: 3px;color: #e91456;font-weight: 900;}
.buy h6{float: left;font-weight: 900;font-size: 14px;}
.TV a.active{color: #e91456;}
.all{width: 190px; height: 35px;position: absolute; left: 25px; bottom: -1px;
 background: #E91456;color: white;line-height: 35px;font-size: 20px;text-indent: 10px;}
/*cotent部分*/
#content{height: 1250px;}
.side{width: 190px;height: 1200px;position: absolute;top: 30px; left: 25px;
 border: 1px solid #ccc;}
.special{width: 190px;height: 60px;position: relative;}
.special a{color: #E91456;position: absolute;left: 25px;top: 30px;}
.con_product0{width: 180px; height: 260px;margin-left: 5px;}
.json_img{width: 166px;height: 166px; margin: 5px;}
.json_p{margin: 15px 10px;}
.json_p a:hover{color: #E91456;text-decoration: underline;}
.json_span{color: #E91456;margin-left: 10px;}
.json_span2{display: none;}
.main{width: 990px;height: 1200px; position: absolute;top: 30px;right: 20px;}
.kind{height: 90px;border: 1px solid #ccc;}
.sort{height: 40px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
.sort a:hover{color: #E91456;text-decoration: underline;}
.product{height: 1070px;border: 1px solid #ccc;}
.kind p{line-height: 40px; text-indent: 20px;}
.kind a{margin-left: 5px; padding-right: 5px;padding-left: 5px;}
.kind a:hover{color: #E91456;text-decoration: underline;}
.kind a.active{background: #E21357;color: white;}
.sort h2{width: 60px; height: 30px;line-height: 30px;margin: 5px 15px 5px 0px;
text-align: center;}
.sale,.time,.price{width: 80px; height: 30px; margin: 5px 15px 5px 0px;
background: #eee; line-height: 30px; text-indent: 6px;}
.price{width: 55px;}
._product{width: 226px; height: 330px;border: 1px solid #f6f6f6;margin-left: 15px;
margin-top: 10px;position: relative;}
._product:hover{border: 1px solid #ccc;}
.json_img_1{width: 210px;height: 180px; margin: 10px;}
.json_p_1{margin: 15px 10px;}
.json_p_1 a:hover{color: #E91456;text-decoration: underline;}
.json_span_1{color: #E91456;margin-left: 10px;}
.json_span_2{color: #E91456;margin-right: 10px;display: none;}
.addCart{width: 100px; height: 30px; border: 1px solid #d0d0d0; background: #f3f3f3;
position: absolute;left: 27px; bottom: 5px;line-height: 30px; text-align: center;
font-size: 14px; color: black;}
.collect{width: 58px; height: 30px; border: 1px solid #d0d0d0; background: #f3f3f3;
position: absolute;right: 27px; bottom: 5px;line-height: 30px; text-align: center;}
.collect a{font-size: 14px; color: black;}
