{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>花花公子男士皮具必备三件套</title>
		<link rel="stylesheet" type="text/css" href='{% static "css/product.css" %}' />
		<link rel="stylesheet" type="text/css" href='{% static "css/footer.css" %}' />
		<script src='{% static "js/jquery-1.12.0.js" %}' type="text/javascript" charset="utf-8"></script>
		<script src='{% static "js/jquery.cookie.js" %}' type="text/javascript" charset="utf-8"></script>
		<script src='{% static "js/product.js" %}' type="text/javascript" charset="utf-8"></script>
		<script src='{% static "js/public.js" %}' type="text/javascript" charset="utf-8"></script>

	</head>

	<body>
    	<div class="bigbox">
			<!--header部分-->
			<div id="header">
				<div class="phone fl">
					<img src="{% static 'img/header/phone1.jpg' %}">
					<h6>电话热线</h6>
					<h5>400-630-0077</h5>
				</div>
				<div class="login fl">
					<a href="#" class="loads">[登录]</a>
					<a href="#" class="register">[免费注册]</a>
				</div>
				<div class="car fr">
					<p>
						<a href="#">我的嘉</a>
						<a href="#">我的订单</a>
						<a href="#">客户服务</a>
						<a href="#">电视会员激活</a>
						<a href="#">手机嘉丽购</a>
					</p>
				</div>
			</div>
			<!--nav部分-->
			<div id="nav">
				<div class="logo fl">
					<img src="{% static 'img/nav/nav1.jpg' %}">
				</div>
				<div class="search fl">
					<input class="text1" placeholder="请输入商品名称或电视商品编号" type="text">
					<input value="搜索" class="btn1" style="border: none;" type="button">
				</div>
				<div class="shopping fl">
					<span class="mycar">我的购物车</span>
					<div class="number">0</div>
				</div>
				<div class="TV">
					<p>
						<a href="index.html">首页</a>
						<a>TV直播</a>
						<a>嘉丽全球购</a>
						<a>水果生鲜</a>
					</p>
				</div>
				<div class="buy">
					<h6>订购热线</h6>
					<h5>400-630-0077</h5>
				</div>
				<div class="all">
					<p>全部商品分类</p>
				</div>
			</div>
			<!--content部分-->
			<div id="content">
				<div class="bag ">
					<p class="fl b">
						<b class="fl"><a href="#">服装、箱包</a></b>&gt;
					</p>
					<p class="fl _b">
						<a href="#">服饰</a>&gt;
						<a href="#">皮带</a>&gt;
						<a href="#">花花公子皮具男士必备三件套</a>
					</p>
				</div>
				<div id="pidai">
					<ul>
						<li class="active"><img src="{% static 'img/banner/pidai1.jpg/' %}"></li>
						<li><img src="{% static 'img/banner/pidai2.jpg/' %}"></li>
						<li><img src="{% static 'img/banner/pidai3.jpg/' %}"></li>
					</ul>
					<div class="smallArea"></div>

				</div>
				<div id="buying">
					<p class="_p1">
						<a>花花公子皮具男士必备三件套</a>
						<b>(供货号：20119845)</b>
					</p>
					<div class="buy">
						<p class="p2">嘉丽价<span class="json_span1"><span class="pa1">￥</span><a class="pa2">169</a></span></p>
						<p class="p2">积分<span>订购此商品可返回<a class="pa3">119*2</a>积分</span></p>
					</div>
					<div class="num">
						<p>
							</p><div class="shu fl">数量</div>
							<div class="yuan fl yuan1">-</div>
							<input value="1" class="fang fl" type="text">
							<!--<div class="fang fl">1</div>-->
							<div class="yuan fl yuan2">+</div>
						<p></p>
					</div>
					<div class="buying fl">立即购买</div>
					<div class="addCart fl">加入购物车</div>
					<div class="collect fl">收藏</div>
					<div class="bigArea">
						<ul>
							<li class="disp"><img src="{% static 'img/banner/pidai1.jpg/ ' %}" class="bigimg"></li>
							<li><img src="{% static 'img/banner/pidai2.jpg/' %}" class="bigimg"></li>
							<li><img src="{% static 'img/banner/pidai3.jpg/' %}" class="bigimg"></li>
						</ul>
					</div>
				</div>
				<div id="small">
					<div class="pidai fl "><img src="{% static 'img/banner/pidai1.jpg' %}"></div>
					<div class="pidai fl"><img src="{% static 'img/banner/pidai2.jpg' %}"></div>
					<div class="pidai fl "><img src="{% static 'img/banner/pidai3.jpg' %}"></div>
				</div>
			</div>

			<!--foot部分-->
			<div id="footer">
				<div class="f_top">
					<div class="zheng fl">
						<img src="{% static 'img/footer/top1.jpg' %}">
						<h3>正品保证</h3>
						<h5>正品行货 开具发票</h5>
					</div>
					<div class="zheng fl">
						<img src="{% static 'img/footer/top2.jpg' %}">
						<h3>快捷配送</h3>
						<h5>严格包装 无损签收</h5>
					</div>
					<div class="zheng fl">
						<img src="{% static 'img/footer/top3.jpg' %}">
						<h3>便捷支付</h3>
						<h5>在线支付 货到付款</h5>
					</div>
				</div>
				<div class="f_middle">
					<img src="{% static 'img/footer/middle1.jpg' %}">
					<div class="list">
						<div class="lists fl">
							<b>购物指南</b>
							<a href="#">新用户注册/激活</a>
							<a href="#">如何订购</a>
							<a href="#">常见问题</a>
						</div>
						<div class="lists fl">
							<b>会员中心</b>
							<a href="#">会员权益</a>
							<a href="#">美丽积分</a>
							<a href="#">订单查询</a>
							<a href="#">找回密码</a>
						</div>
						<div class="lists fl">
							<b>配送服务</b>
							<a href="#">物流跟踪</a>
							<a href="#">免运费政策</a>
						</div>
						<div class="lists fl">
							<b>支付说明</b>

							<a href="#">货到付款</a>
							<a href="#">在线支付</a>
						</div>
						<div class="lists fl">
							<b>售后服务</b>
							<a href="#">退换货政策</a>
							<a href="#">退换货流程</a>
							<a href="#">安全与保密</a>
						</div>
					</div>
					<div class="web">
						<img src="{% static 'img/footer/middle2.jpg' %}" class="fl">
						<div class="online fl">
							<b>400-630-0077</b>
							<h5>网站专线</h5>
						</div>
					</div>
				</div>
				<div class="f_bottom">
					<p>
						<a href="#">商城首页</a>
						<a href="#">官网首页</a>
						<a href="#">供应商登录</a>
						<a href="#">供货联系</a>
						<a href="#">收藏我们</a>
						<a href="#">公司简介</a>
						<a href="#">媒体报道</a>
						<a href="#">嘉丽购招聘</a>
						<a href="#">官方微博</a>
						<a href="#" style="border: none;">合作网站：范游网</a>
					</p><br>
					<p class="copyright">
						嘉丽购物有限责任公司 Copyright 2010-2014 jialigou All Rights Reserved
					</p>
					<p style="margin-top: 5px;">国家广电总局批号：广局[2010] 278号湘ICP备10203162号-3</p>
					<img src="{% static 'img/footer/bt5.gif' %}">
					<div class="security">
						<img src="{% static 'img/footer/bt1.jpg' %}" class="fl">
						<img src="{% static 'img/footer/bt2.jpg' %}" class="fl">
						<img src="{% static 'img/footer/bt3.gif' %}" class="fl">
						<img src="{% static 'img/footer/bt4.gif' %}" class="fl">
					</div>
				</div>
			</div>
		</div>

    </body>

</html>